.navbar {
    overflow: hidden;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    background: radial-gradient(circle at top left, var(--accent) 10%, var(--secondary) 75%);
    height: calc(10vh - 20px);
    max-height: 80px;
}

.navbar p {
    font-weight: bold;
    font-size: max(1.2vw, 25px);
    padding: 0 0 0 5px;
    margin: 2vh
}

#navbarButtons {
    float: left;
    display: block;
    color: var(--text);
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}

.analyticsBlock,
.listItem {
    display: flex;
    margin: var(--standard-margin);
    width: var(--listItem-width);
    height: auto;
    align-items: center;
    padding: 5px;
}

.listItemDisplay,
.detailsDisplay,
.inputForm,
.settingsDisplay,
.themesDisplay {
    background: var(--primary);
    border-radius: calc((2vh + 2vw)/2);
    padding: 0 10px;
    overflow: auto;
}

.listItemDisplay {
    height: max(250px, 20vh);
    max-height: 425px;
    width: auto;
    text-overflow: clip;
    overflow-wrap: break-word;
    word-wrap: break-word;
    align-content: center;
    text-wrap: wrap;
    flex-grow: 1;
    user-select: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.listItemDisplay:hover {
    transform: scale(1.025);
    cursor: pointer;
    transition: all .05s ease-in-out;
    filter: brightness(115%);
}

p {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: large;
    margin: 8px
}

#addListItemButton div {
    background: var(--accent) !important;
    text-align: center;
}

.modal {
    position: fixed;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detailsDisplay,
.inputForm,
.settingsDisplay,
.themesDisplay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 20px 20px;
    width: max(30vw,350px);
    max-height: 80vh;
    align-content: center;
}

.detailsDisplay,
.settingsDisplay,
.themesDisplay {
    display: none;
}

.detailsDisplay p,
.detailsDisplay h2,
.settingsDisplay p,
.settingsDisplay label {
    padding: 5px;
    border-radius: 10px;
}

.detailsSubjectText {
    text-wrap: wrap;
    overflow: hidden;
    width: auto;
}

.subjectNameContainer {
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    align-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.subjectNameText {
    font-size: large;
    font-weight: bold;
    z-index: 1
}

.detailsSubjectNameText {
    font-size: clamp(20px, 1.45vw, 28px);
    font-weight: bold;
    margin-bottom: 20px;
}

.analyticsDiv {
    margin: 0;
    position: fixed;
    overflow: hidden;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--standard-margin);
    border-radius: 20px 20px 0 0;
    background: var(--accent);
    height: 40vh;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 300;
}

.analyticsBlock {
    flex-direction: column !important;
}