@media (max-width: 1440px) {

    .listItemDisplay {
        width: calc(25vw - calc(2*var(--standard-margin)) - 30px);
        height: 250px
    }

    #dataTransferOptions{
        flex-direction: row;
    }
}

@media (max-width: 900px) {

    .listItemDisplay {
        width: calc(33vw - calc(2*var(--standard-margin)) - 30px);
        height: max(250px, 30vh)
    }

    #dataTransferOptions{
        flex-direction: column;
    }
}

@media (max-width: 700px) {

    .listItemDisplay {
        width: calc(50vw - calc(2*var(--standard-margin)) - 30px);
        height: max(300px, 30vh)
    }

    .listItemDisplay p {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: medium;
    }

    .clickable {
        font-size: 36px !important;
    }
}

@media (max-width: 400px) {

    .listItemDisplay {
        width: calc(100vw - calc(2*var(--standard-margin)) - 30px);
        height: max(200px, 30vh)
    }

    .listItemDisplay p {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: medium;
    }

    textarea{
        width: calc(300px - 10vw)
    }

    .clickable {
        font-size: 36px !important;
    }

    .navbar p {
        font-size: 24px;
    }

    .detailsDisplay,
    .inputForm,
    .settingsDisplay {
        width: auto
    }
}

@media (max-height: 500px) {
    .listItemDisplay {
        height: max(225px, 30vh)
    }

    .listItemDisplay p {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: medium;
    }

    .clickable {
        font-size: 24px !important;
    }

    .navbar p {
        font-size: 16px;
    }

    .detailsDisplay,
    .inputForm,
    .settingsDisplay {
        max-height: 100vh;
    }
}