body>* {
    transition: all .2s ease-in-out;
}

.listItemDisplay:hover {
    transition: all .1s ease-in-out;
}

.clickable {
    transition: all .1s ease-in-out;
}

/*   IS-OPEN STATE   */
dialog[open] {
    transition-property: overlay all;
    transition-duration: 300ms;
    transition-behavior: allow-discrete;
    transition-timing-function: ease-out;
    transform: scale(1);
    opacity: 1;
}

/*   EXIT STATE   */
dialog{
    transition-property: overlay all;
    transition-duration: 150ms;
    transition-behavior: allow-discrete;
    transition-timing-function: ease-out;
    transform: scale(0.7);
    opacity: 0;
}

/* 0. BEFORE-OPEN STATE   */
@starting-style {
    dialog[open] {
        transform: scale(0.5);
    }
}

.preventTransition {
    transition: none !important;
}

.clickable:hover {
    color: var(--accent);
    transform: scale(1.1);
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 40;
    transition: font-variation-settings .1s ease-in-out .3s;
    transition: all .1s ease-in-out;
}