@media (max-width: 1280px) {
    .listItem {
        width: calc(25vw - calc(2*var(--standard-margin)) - 10px);
        height: max(250px, 30vh)
    }

    .listItemDisplay{
        height: max(250px, 30vh)
    }
}

@media (max-width: 900px) {
    .listItem {
        width: calc(33vw - calc(2*var(--standard-margin)) - 10px);
        height: max(250px, 30vh)
    }

    .listItemDisplay{
        height: max(250px, 30vh)
    }
}

@media (max-width: 700px) {
    .listItem {
        width: calc(50vw - calc(2*var(--standard-margin)) - 10px);
        height: max(300px, 30vh)
    }

    .listItemDisplay{
        height: max(300px, 30vh)
    }

    .listItemDisplay p {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: medium;
    }

    .clickable{
        font-size: 36px !important;
    }
}

@media (max-width: 400px) {
    .listItem {
        width: calc(100vw - calc(2*var(--standard-margin)) - 10px);
        height: max(200px, 30vh)
    }

    .listItemDisplay{
        height: max(200px, 30vh)
    }

    .listItemDisplay p {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: medium;
    }

    .clickable{
        font-size: 36px !important;
    }

    .navbar p{
        font-size: 24px;
    }
}

@media (max-height: 500px) {
    .listItem {
        height: max(225px, 30vh)
    }

    .listItemDisplay{
        height: max(225px, 30vh)
    }

    .listItemDisplay p {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: medium;
    }

    .clickable{
        font-size: 24px !important;
    }

    .navbar p{
        font-size: 16px;
    }
}