@media (max-width: 1280px) {
    .analyticsBlock,
    .listItem {
        width: calc(25vw - calc(2*var(--standard-margin)) - 10px);
    }

    .listItemDisplay {
        height: max(250px, 30vh)
    }

    textarea{
        border-radius: none !important;
    }
}

@media (max-width: 900px) {
    .analyticsBlock,
    .listItem {
        width: calc(33vw - calc(2*var(--standard-margin)) - 10px);
    }

    .listItemDisplay {
        height: max(250px, 30vh)
    }
}

@media (max-width: 700px) {
    .analyticsBlock,
    .listItem {
        width: calc(50vw - calc(2*var(--standard-margin)) - 10px);
    }

    .listItemDisplay {
        height: max(300px, 30vh)
    }

    .listItemDisplay p {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: medium;
    }

    .clickable {
        font-size: 36px !important;
    }
}

@media (max-width: 400px) {
    .analyticsBlock,
    .listItem {
        width: calc(100vw - calc(2*var(--standard-margin)) - 10px);
    }

    .listItemDisplay {
        height: max(200px, 30vh)
    }

    .listItemDisplay p {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: medium;
    }

    .clickable {
        font-size: 36px !important;
    }

    .navbar p {
        font-size: 24px;
    }

    .detailsDisplay,
    .inputForm,
    .settingsDisplay {
        width: 100vw;
        margin-left: 15px;
    }
}

@media (max-height: 500px) {
    .listItemDisplay {
        height: max(225px, 30vh)
    }

    .listItemDisplay p {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: medium;
    }

    .clickable {
        font-size: 24px !important;
    }

    .navbar p {
        font-size: 16px;
    }

    .detailsDisplay,
    .inputForm,
    .settingsDisplay {
        height: 100vh;
    }
}