:root{
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(198, 250, 228);
    --text-color: rgb(0, 0, 0)
}

.listItem{
   background: var(--secondary-color);
   padding: 5px;
}

.button{
    border-radius: 10px;
    background: var(--secondary-color);
    padding: 5px;
    margin-left: 5px;
}

.button:hover{
    background: color-mix(in srgb, var(--secondary-color), var(--primary-color))

}

input[type="text"]{
    border-radius: 10px;
    background: var(--secondary-color);
    padding: 5px;
}

body{
    align-items: center;
}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    align-items: center;
    justify-content: center;
    overflow: auto; /* Enable scroll if needed */
}

div{
    display: flexbox;
    width: max(30vw, 300px);
}