:root{
    --primary-color: #BF90FC;
    --secondary-color: #c7fae5;
    --accent-color: #6fd8ae;
    --background-color: #ffffff;
    --background-secondary-color: #c5c5c5;
    --text-color: #000000;
    font-family: sans-serif, system-ui;
    cursor: default;
    --font-size-title: 32px;
    --font-size-body: 18px;
    --font-size-small: 14px;
}

h1{
    display: flex;
}

.listItem, .inputForm, .detailsDisplay{
   background: var(--primary-color);
   padding: 10px;
   border-radius: 25px;
   margin: 6px;
   cursor: pointer;
   justify-content: center;
   align-items: center;
}

.listItem{
    width: 20vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.inputForm{
    display: block;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: max(40vh,auto);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button:hover{
    background: color-mix(in srgb, --secondary-color, --background-color)

}

/*cursor: pointer;*/

input, textarea{
    border-radius: 10px;
    background: var(--secondary-color);
    padding: 5px;
    margin: 5px;
}

input[type="number"]{
    width: 5vw;
}

input[type="button"]{
    cursor: pointer;
}

textarea{
    width: 25vw;
    height: 15vh;
}

body{
    align-items: center;
    font-size: larger;
}

.modal{
    position: absolute; /* Stay in place */
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Enable scroll if needed */
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p{
    margin-bottom: -5px !important;
}

.list{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.detailsDisplay{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}